<h1>作成記事一覧</h1>
	<ul>
		<% @lives.each do |lives| %>
			<li><%= link_to lives.title, life_path(lives.id) %></li>
		<% end %>	
	</ul>
	<botton><%= link_to "申請待ち一覧",waiting_life_joins_path %></botton>