<div class="users-container">
	<div class="users-show-container users-height">		

		<h1>作成記事一覧</h1>
			<ul>
				<% @lives.each do |lives| %>
					<li><%= link_to lives.title, life_path(lives.id) %></li>
				<% end %>	
			</ul>
	</div>
</div>	