<h1>脱ぼっちのトリセツ</h1>

	<h2>1.マイページについて</h2>
		<p>脱ぼっちユーザーには一人ひとりにマイページが存在します。<br>自分の好きなアイドル、プロフィール写真、メッセージなどを入力して他のユーザーに自己紹介しましょう！<br>マイページから様々なページにリンクすることができます。またトリセツを読みたくなったらマイページからチェックするようにしましょう。<br>承認待ちのペにージにいくことであなたが作成したコミュニティへの申請状況が確認できます。こまめにチェックしましょう。</p>
		<br>
		<br>
		<br>
	<h2>2.ライブ系募集について</h2>
		<p>ライブに一緒に行ってくれる人や、近くの席で仲良くなってくれる人に向けての募集が行われます。<br>コミュニティに参加したいと思ったら積極的に参加申請を作成者に向けて送りましょう。作成者によって申請が承認されると、そのコミュニティに参加することができます。<br>参加したコミュニティの中ではコメントを送信するかたちで仲間のユーザーと会話ができます。ぜひコメント機能を活用して距離を縮めましょう。<br>新たにコミュニティを作成する場合は具体的な日時、場所、条件（例：女子限定、初心者歓迎など）を記入するようにして、自分がどのような人を求めているのかわかりやすく伝えるようにしましょう。</p>
		<br>
		<br>
		<br>
	<h2>3.推しメン仲間系募集について</h2>
		<p>推しているメンバーが同じ同志が欲しい！推しメンの魅力を知ってほしい！そのような人のためのページが推しメン仲間募集ページです。<br>このページには参加申請が必要ないため、たくさんのユーザーの記事を閲覧することができます。<br>画像を貼れるので作成者はお気に入りの写真と熱いメッセージを記入して推しメンを広めましょう。