<div class="container">
<h1>脱ボッチへようこそ！</h1>

<h2>さあ！今すぐログインして応援仲間とつながろう！</h2>



<h3>このアプリはアイドルのライブ行きたいけど<br><strong>一人は心細い、、、</strong><br>とか<br><strong>推しメン仲間と仲良くなりたい！</strong><br>と思っているファン同士をつなげるアプリだよ！
<br>一生ものの出会いがこの先にあるかも！☆彡</h3>
</div>		