<div class="mymembers-container mymembers-height">
		

		<h1 class="mymembers-title">記事一覧</h1>
		<div class="mymembers-article">	
			<% @mymembers.each do |mymember| %>

				<p><%= link_to mymember.title, mymember_path(mymember) %></p>
				<p><%= mymember.image %></p>
				<p><%= mymember.body %></p>
				<p></p>

			<% end %>
		<%= paginate @mymembers %>
		</div>
</div>		