/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*{
  margin:0 ;
  padding:0;
}


.navbar {
  height: 65px;
  width: 100%;
  background-color:   #D9F5B1;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
}


}

#logo {
  float: left;
  width:61px;
  height: 61px;
  border: solid 3px black;
 
}

.header-right {
  float: right;
  width: 100%;
}


}
.devise-container{
  width:100%;
  height:1000px;
  background: url(datsubochi-4.jpg);
  background-size: cover;
  margin-top: -190px;
}
.devise-sentences{
  text-align: center;
  padding-top: 300px;
  color:white;
}