// Place all the styles related to the mymembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mymembers-container{
	width: 100%;
	padding-top: 65px;
	margin: 0 auto;
	background: url(datsubochi-7.png);
}
.mymembers-height{
	height: 2000px;
}
.mymembers-height-new{
	height: 520px;
}
.mymembers-menu{
	width: 100%;
}
.mymembers-item{
	width: 21%;
	display: inline-block;
	margin-left: 17px;
	padding-top: 28px;
	text-align: center;
}
#logo {
 	float: left;
 	width:61px;
 	height: 61px;
 	border: solid 3px black;
}
.item-line{
	text-decoration: none;
}	
.mymembers-article{
	width: 620px;
	line-height: 50px;
	margin: 0 auto;
	text-align: center;
	border: solid 5px #F730C6;
	padding-top: 30px;
	font-weight: bold;
	font-size: 15px;
}
.mymembers-title{
	text-align: center;
}
.mymembers-body{
	width: 400px;
	height: 100%;
	background-color: white;
	border:solid 1px lightgray;
	margin: 0 auto;
}