<div class="joins-container">


		<h1 class="joins-title">メンバー一覧</h1>
        <div class="joins-article">
			<% @joins.each do |join| %>
				<li><%= link_to join.user.name,user_path(join.user.id) %></li>
			<% end %>	

			<%#= paginate @joins %>
		</div>	

</div>